.element__like {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 24px;
    height: 22px;
    border: none;
    cursor: pointer;
    padding: 0 16px 0;
    background: url(../../../../image/like_disabled.svg) no-repeat center;
}

.element__like:hover {
    opacity: .5;
}