.account__title {
    padding: 0;
    margin: 0;
    /* width: 100%; */
    /* max-width: 320px; */
    box-sizing: border-box;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 42px;
    font-weight: 500;
    padding-right: 18px;

}

@media (max-width: 745px) {
    .account__title {
       /*  width: 100%; */
        /* max-width: 270px; */
        font-size: 27px;
        padding-right: 12px;
        /* padding-left: 28px; */
    }

}