.elements {
    width: 100%;
    max-width: 880px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -o-object-fit: cover;
    object-fit: cover;
    gap: 20px 16px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 66px;

}

@media (max-width: 914px) {
    .elements {
        justify-content: center;
    }
}


@media (max-width: 680px) {
    .elements {
        padding-bottom: 48px;

    }

}