.profile__avatar {
    grid-column: 1 / 2;
    width: 120px;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgb(34, 255, 0);
    
}

@media (max-width: 640px) {
    .profile__avatar {
        margin: 42px 0 26px;
    }

}