.header {
    grid-area: "header";
    width: 100%;
    max-width: 880px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (max-width: 320px) {
    .header {
        width: 112%;
        margin-top: 27px;
        padding-left: 18px;
    }
}