.profile-info__title {
    padding: 0;
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 42px;
    font-weight: 500;
    padding-right: 20px;
    box-sizing: border-box;

}

@media (max-width: 745px) {
    .profile-info__title {
        width: 100%;
        max-width: 260px;
        min-width: 230px;
        font-size: 27px;
        padding-right: 10px;
        padding-left: 30px;
    }

}