.element {
    width: 282px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #FFF;
    overflow: hidden;
    box-sizing: border-box;
    color: #000;
    border-radius: 10px;
    display: grid;
    grid-template: minmax(282px, 282px) minmax(auto, 79px)/ 1fr;
    position: relative;       
}