.profile-info {
    width: 100%;
    max-width: 350px;
    grid-column: 2 / 3;
    display: grid;
    grid-template: 39px 18px / 1fr;
    align-items: center;
    row-gap: 15px;
    padding-left: 30px;
}

@media (max-width: 640px) {
    .profile-info {
        max-width: 250px;
        row-gap: 10px;
        padding-left: 0;
        padding-bottom: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}