.logo_theme_dark {
    /* background: url(../../../image/logo_dark.svg) no-repeat;
    background-size: cover; */


   /*  background: url(../../../image/logo.svg) no-repeat transparent;
    background-size: contain;
    object-fit: cover;
 */
}

