.popup-pic__close {
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    right: -40px;
    top: -40px;
    background: url(../../../image/Close_Icon.svg);
    background-size: cover;
    border: none;
}

@media (max-width: 520px) {
    .popup-pic__close {
        right: 0;
        top: -16;
        width: 20px;
        height: 20px;
    }
}

.popup-pic__close:hover {
    opacity: 0.6;
}