.form {
    width: 100%;
    max-width: 430px;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(255, 255, 255);
    color: black;
    border-radius: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin: 19px;
    position: relative;
    padding: 34px 22px 33px;
}

@media (max-width: 320px) {
    .form {
        padding: 25px 22px 25px;
    }

}