.logo {
    width: 100%;
    max-width: 142px;
    max-height: 33px;
    padding-bottom: 78px;
    background: url(../../image/logo.svg) no-repeat transparent;
    background-size: contain;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 680px) {
    .logo {
        max-width: 104px;
        max-height: 25px;
        margin-left: 6px;
        margin-top: 2px;
        margin-bottom: 28px;
        padding-bottom: 28px;
        background-size: 104px;
    }
}